{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock%}
{% block title %}{% endblock %}

{% block content %}
  <section>
    <article id="my-match-table">
      <table id="match-table">
        <thead>
          <tr>
            <th class="">Gren</th>
            <th class="">Odds</th>
            <th class="">Lag 1</th>
            <th class="">Lag 2</th>
            <th class="">Odds</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fia-med-knuff</td>
            <td>3.4</td>
            <td>Boiz</td>
            <td>HoNLovaz</td>
            <td>0.3</td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
{% endblock %}
